*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(41, 21, 152);
}
/*the whole thing */
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}
/*designing the 3 col */
.container1,.container2,.between{
    margin:50px 0px;
    text-align: center;
    color: white;
}
/*designing the score containers */
.score{
    background: #000;
    color:red;
    font-size: 50px;
    text-align: center;
    padding: 50px;
    margin:10px;
    border-radius: 10px;
}
/*designing all the buttons with same factors*/
button{
    background: transparent;
    border: white solid 2px;
    color:white;
}
/*designing the buttons to add score and new game button */
.addbtn button,.between #new{
    padding: 10px;
    margin:10px 10px 20px;
    border-radius: 10px;
    font-size:15px;
    font-weight: 600;
}
/*designing the text inside the middle col and fouls and timeout*/
.fouls p,.between h5,.between p{
    font-size: 20px;
    margin: 5px;
}
/*designing the foul and time out button and period and start,pause,reset button*/
.fouls button,.between .period button,.between .controlbtn button{
    border-radius: 20px;
    width:80px;
    font-size:15px;
    margin:10px;
    padding: 2px;
}
/*designing the middle col with what differ from left and right col*/
.between{
    margin:0px auto 100px;
}
button:hover{
    cursor: pointer;
    background: #000;
    border: none;
}
@media (max-width:950px){
    .score{
        padding:20px;
    }
}
@media (max-width:678px){
    .score{
        padding:10px;
    }
    .addbtn button{
        margin: 4px 50px;
        display: block;
    }
    .fouls p{
        margin:10px auto 5px;
    }
    button:hover{
        background: inherit;
        border: white solid 2px;
    }
}